*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:cursive;
}

html,body{
    width:100%;
    height:100%;
    background-color: #070015e8;
}

#main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2vw;
}

.Cards{
    background-color: #fff;
    border: 2px solid black;
    width: 250px;
    border-radius: 31px;
    padding: 1.5vw;
    margin: 1vw;
}

#logo{
    height: 6vh;
    padding: 1.5px;
    background-color: whitesmoke;
    border:1px solid black;
    border-radius: 50%;
    overflow: hidden;
}

#save{
    font-size: 10px;
    display: flex;
    justify-content: center;
    /* background-color: #222; */
    color: #111;
    width:auto;
    border: 2px solid rgba(210, 208, 208, 0.621);
    border-radius: 5px;
}

#time{
    font-size: 10px;
    color: grey;
    font-weight: 100;
    border-bottom: 1px solid grey;
}



#topPart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1vw;
}

.middle h5{
    font-size: 18px;
    font-weight: 500;
    margin: 2px;
    margin-left: 0;
}

.middle h3{
    font-size: 1.3vw;
    font-weight: bolder;
}

.deatils{
    display: flex;
    
}

.deatils p {
    padding:2px;
    gap: 10px;
    background-color: #333333a0;
    color: aliceblue;
    border: 2px solid rgba(128, 128, 128, 0.817);
    margin:0.5vh;
    border-radius: 5px;
    font-size: 1.5vh;
    font-weight: 200;
}

.bottom{
    display: flex;
    justify-content: space-between;
    border-top: 2px solid rgba(0, 0, 0, 0.571);
    margin-top: 5vw;
    padding-top: 5px;
}

#apply{
    background-color: #111;
    color: mintcream;
    padding: 3px;
    border: 2px solid white;
    border-radius: 6px;
}